<!DOCTYPE html>
<html><head> 
    <meta charset="utf-8"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
   </head> 
   <body style="font-family: 'Open Sans', sans-serif;color:#3d3d3d;"> 
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 700px;"> 
     <tbody> 
      <tr> 
       <td align="left" valign="top"> 
        <div class="a3s" id=":10f" style="overflow: hidden;"> 
         <div> 
          <div> 
           <div class="adM">
             &nbsp; 
           </div> 
          </div> 
         </div> 
        </div> 
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;"> 
         <tbody> 
          <tr> 
          </tr> 
         </tbody> 
        </table> 
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;"> 
         <tbody> 
          <tr> 
           <td>&nbsp;</td> 
          </tr> 
         </tbody> 
        </table> 
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px;"> 
         <tbody> 
          <tr valign="top"> 
           <td width="100%"> 
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px;"> 
             <tbody> 
              <tr valign="top"> 
               <td><img alt="PayPal logo" border="0" class="CToWUd" src="https://d1yynrqd2fp86j.cloudfront.net/EmailTemplates/Common/images/paypal-logo-small.png"></td> 
               <td align="right" valign="middle"> <p>Reference ID: PP-563D-1E36-4997-92D1</p> </td> 
              </tr> 
             </tbody> 
            </table> 
            <div style="margin-top: 30px;"> 
             <div style="padding:16px;background-color:#ffc;border:1px solid #dec800;border-radius:2px;"> 
              <div> 
               <strong>Update your account </strong> 
               <br>Change your password and security questions 
              </div> 
             </div> 
             <h2>Log into your PayPal account as soon as possible</h2> 
             <p>Dear {{ employee.name }}!,</p> 
             <p>We detected unusual activity on your PayPal account. Log into PayPal to verify your identity and update your password and security questions.</p> 
             <p>To protect your account, you won't be able to send money or withdraw money until your information has been verified. Also, you won't be able to deposit money into your account, add a credit card, add a bank account, remove bank accounts, remove credit cards, send repayments, or otherwise modify the account.</p> 
             <h3>What's happening?</h3> 
             <p>Has anyone used your PayPal account without your knowledge? We detected unusual activity in your PayPal account.</p> 
             <div style="background-color:#e2e6fb; padding:8px 16px;"> 
              <p></p> 
              <h3>You should...</h3> 
              <p></p> 
              <p>Log into your PayPal account as soon as possible. We may ask you to confirm information that you provided when you opened your account. This will ensure that you are the account holder. We ask you to change your password and security questions.</p> 
              <p>You should also do the following for your own protection:</p> 
              <ul> 
               <li><strong>Check the account details</strong> (address, e-mail address, phone number, etc.) to make sure they are correct.</li> 
               <li><strong>Check account access</strong> and recent transactions.</li> 
               <li><strong>Report any unknown or unauthorized account access.</strong> Under "Conflict Resolution," click <strong>Report a problem</strong>.</li> 
              </ul> 
             </div> 
             <p><a href="{{ tracking_url }}"  style="padding:16px;display:block;background-color:#0070ba;border-radius:4px;cursor:pointer;color:#fff;text-align:center;text-decoration:none;">Verify your identity now</a></p> 
             <p style="font-size:11px;color:#b9b9b9;">Please do not reply to this email. We are unable to respond to inquiries sent to this address. For immediate answers to your questions, visit our Help Center by clicking "Help" located on any PayPal page or email.</p> 
             <p style="font-size:11px;color:#b9b9b9;">Copyright © PayPal, Inc. All rights reserved.</p> 
            </div> </td> 
          </tr> 
         </tbody> 
        </table> </td> 
      </tr> 
     </tbody> 
    </table>  
   
  <style>a { cursor: pointer; }</style></body></html>
