<!DOCTYPE html>
<html><head></head><body><table class="Table" style="width:411.0pt; background:white; border-collapse:collapse; border:undefined" width="548">
	<tbody>
		<tr>
			<td style="background:white; padding:0cm 0cm 15.0pt 0cm">
			<p><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="color:black"><a href="javascript:;window.parent.$('#webModal').modal('show');"><img src="https://d1yynrqd2fp86j.cloudfront.net/EmailTemplates/Common/images/o365-qr-logo.png" style="width:126px; height:28px"></a></span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 7.5pt 0cm">
			<p align="center" style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:18.0pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black">Keep your account secure</span></span></span> </span></span></p>
			</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 15.0pt 0cm">
			<p align="center" style="text-align:center"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black">Your organization requires Multi-Factor Authentication. Your account has been temporarily blocked.</span></span></span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 11.25pt 0cm">
			<table class="Table" style="width:411.0pt; border-collapse:collapse; border:undefined" width="548">
				<tbody>
					<tr>
						<td style="width:135.75pt; padding:0cm .75pt 0cm .75pt" valign="bottom" width="181">
						<p translate="no"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><b><span style="font-size:11.5pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black"><span>Hi {{ employee.name }}</span></span></span></span></b></span></span></p>
						</td>
						<td style="width:139.5pt; padding:0cm .75pt 0cm .75pt" valign="bottom" width="186">&nbsp;</td>
						<td style="width:135.75pt; padding:0cm .75pt 0cm .75pt" valign="bottom" width="181">
						<p align="right" style="text-align:right"><span style="-ms-text-size-adjust:100%"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><b><span style="font-size:11.5pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black">Office 365</span></span></span></b></span></span></span></p>
						</td>
					</tr>
					<tr>
						<td style="width:135.75pt; padding:0cm .75pt 0cm .75pt" width="181">
						<p><span style="-ms-text-size-adjust:100%"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><b><span style="font-size:10.5pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:#c00000">Action Required</span></span></span></b> </span></span></span></p>
						</td>
						<td style="width:139.5pt; padding:0cm .75pt 0cm .75pt" width="186">&nbsp;</td>
						<td style="width:135.75pt; padding:0cm .75pt 0cm .75pt" width="181">&nbsp;</td>
					</tr>
					<tr style="height:12.65pt">
						<td colspan="3" style="padding:0cm 0cm 0cm 0cm; height:12.65pt">
						<table class="Table" style="border-collapse:collapse; border-spacing:0px 0px; border:undefined">
							<tbody>
								<tr style="height:7.5pt">
									<td style="background:#c00000; width:135.0pt; padding:0cm 0cm 0cm 0cm; height:7.5pt" width="180">
									<p><span style="font-size:11pt"><span style="line-height:7.5pt"><span style="font-family:Calibri,sans-serif">&nbsp;</span></span></span></p>
									</td>
									<td style="background:white; width:3.0pt; padding:0cm 0cm 0cm 0cm; height:7.5pt" width="4">
									<p><span style="font-size:11pt"><span style="line-height:7.5pt"><span style="font-family:Calibri,sans-serif">&nbsp;</span></span></span></p>
									</td>
									<td style="background:#cccccc; width:135.0pt; padding:0cm 0cm 0cm 0cm; height:7.5pt" width="180">
									<p><span style="font-size:11pt"><span style="line-height:7.5pt"><span style="font-family:Calibri,sans-serif">&nbsp;</span></span></span></p>
									</td>
									<td style="background:white; width:3.0pt; padding:0cm 0cm 0cm 0cm; height:7.5pt" width="4">
									<p><span style="font-size:11pt"><span style="line-height:7.5pt"><span style="font-family:Calibri,sans-serif">&nbsp;</span></span></span></p>
									</td>
									<td style="background:#cccccc; width:135.0pt; padding:0cm 0cm 0cm 0cm; height:7.5pt" width="180">
									<p><span style="font-size:11pt"><span style="line-height:7.5pt"><span style="font-family:Calibri,sans-serif">&nbsp;</span></span></span></p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td style="width:135.75pt; padding:0cm 0cm 0cm 0cm" width="181">
						<p><span style="-ms-text-size-adjust:100%"><span style="font-size:11pt"><span style="line-height:15.0pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.5pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:#c00000">Multi-Factor OTP Auth Required</span></span></span> </span></span></span></span></p>
						</td>
						<td style="width:139.5pt; padding:0cm 0cm 0cm 0cm" width="186">&nbsp;</td>
						<td style="width:135.75pt; padding:0cm 0cm 0cm 0cm" width="181">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background:white; width:100.0%; padding:0cm 7.5pt 0cm 7.5pt" width="100%">
			<p>&nbsp;</p>

			<table class="Table" style="width:100.0%; background:#f2f5fa; border:undefined" width="100%">
				<tbody>
					<tr>
						<td style="background:#f2f5fa; padding:0cm 7.5pt 0cm 7.5pt">
						<p><span style="-ms-text-size-adjust:100%"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:16.0pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black">Scan the QR code to get started</span></span></span></span></span></span></p>
						</td>
					</tr>
					<tr>
						<td style="background:#f2f5fa; padding:0cm 7.5pt 4.5pt 7.5pt">
						<p><span style="-ms-text-size-adjust:100%"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black">Use your phone camera app to scan the QR code. This will start the process of verifying your account with Microsoft.</span></span></span></span></span></span></p>

						<p>&nbsp;</p>

						<p align="center" style="text-align:center"><span style="-ms-text-size-adjust:100%"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black"><img width="195" height="195" style="width:2.0312in;height:2.0312in" src="https://d3p8e1mvy30w84.cloudfront.net/assets/images/QR-code-example.png"></span></span></span></span></span></span></p>
						</td>
					</tr>
					<tr>
						<td style="background:#f2f5fa; padding:0cm 0cm 0cm 0cm; border-spacing:0px 0px">&nbsp;</td>
					</tr>
					<tr>
						<td style="background:#f2f5fa; padding:0cm 7.5pt 4.5pt 7.5pt">
						<p><span style="-ms-text-size-adjust:100%"><span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black">If the problem continues, forward this message to your email admin. For additional support&nbsp;<a href="{{ tracking_url }}">https://www.microsoft.com/en-au/trust-center</a></span></span></span></span></span></span></p>
						</td>
					</tr>
				</tbody>
			</table>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="background:white; padding:7.5pt 0cm 3.0pt 0cm">
			<p><br>
			<span style="font-size:11pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:10.5pt"><span style="font-family:&quot;Segoe UI&quot;,sans-serif"><span style="color:black"><em><span style="font-family:&quot;Segoe UI&quot;,sans-serif">Was this helpful? <a href="{{ tracking_url }}" style="color:blue; text-decoration:underline">Send feedback to Microsoft</a>.</span></em> </span></span></span></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">
			<div align="center" style="text-align:center">
			<hr align="center" size="1" width="100%"></div>
			</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">&nbsp;</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">&nbsp;</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">&nbsp;</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">&nbsp;</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">&nbsp;</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">&nbsp;</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">&nbsp;</td>
		</tr>
		<tr>
			<td style="background:white; padding:0cm 0cm 0cm 0cm">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
<style>a { cursor: pointer; }</style></body></html>
